<h2>Hi <%= @borrower.email %></h2>
<p>
  Info about: "<%= @book.title %>" - Book reservation expires at:
  <%= @reservation.expires_at.to_date %><br>
  <%= link_to "Go to the book.", book_url(@book.id, host: "localhost:3000") %>
</p>